<script>
     var javascript_side_json = <%= @allproducts_json.html_safe %>;
</script>
<div style="width: 100%;">
    <div style="margin: 0 auto;">
        <%= react_component("Main", {data: @allproducts_json.html_safe}, {prerender: true}) %>
    </div>
</div>